@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu-sans), sans-serif;
}
