@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu-sans), sans-serif;
}

html, body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-grid-pattern {
  background-color: #f9fafb;
  background-image:
    linear-gradient(to right, #d1d5db 1px, transparent 1px),
    linear-gradient(to bottom, #d1d5db 1px, transparent 1px);
  background-size: 40px 40px;
  transition: background-position 0.1s ease-out;
}

